{% extends 'base.html.twig' %}
{% block title %}Créer Menu{% endblock %}

{%  block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Créer menu</h1>
                <p>C'est la page pour créer un menu. En maintenance.</p><br><br><br>

                <a href="/Test/web/menu">Retour</a>
            </div>
        </div>

    </div>
{% endblock %}